<ActionBar title="Products" class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goToGroceryListDetails()"></NavigationButton>
    <ActionItem
        (tap)="goToBarcodeScanner()"
        ios.systemIcon="4"
        android.systemIcon="ic_menu_add"
        ios.position="right"
    ></ActionItem>
</ActionBar>

<StackLayout class="ProductList__Layout">
    <!-- NORMAL VIEW -->
    <StackLayout>
        <Button [text]="getFilterByText()" (tap)="showCategoryDialog()" class="FilterByButton"></Button>

        <ListView row="1" [items]="getproductsListByCategory()" class="list-group" style="separator-color: transparent">
            <ng-template let-productList="item" let-i="index" style="background-color: white">

                <!-- PRODUCT LIST -->
                <StackLayout class="list-group-item" style="height: 100%">
                    <Label [text]="getCategory(i)" class="Label__Category"></Label>

                    <ListView [items]="getProductList(i)" class="list-group" [ngStyle]="{'height': getProductListHeight(i)}">
                        <ng-template let-product="item" let-j="index">
                            <StackLayout [ngClass]="{ 'list-group-item': true, 'is-last': product.isLast }">
                    
                                <DockLayout width="100%" height="100%">
                                    <StackLayout dock="left" style="width:70%; padding-left:4">
                                        <Label [text]="product.productName"></Label>
                                        <Label [text]="product.brand"></Label>
                                    </StackLayout>
                                    <DockLayout dock="right" style="width:25%">
                                        <Button text="€" (tap)="showPrices(product)" dock="left" class="ShowPricesButton"></Button>
                                        <Button text="+" (tap)="onTapProduct(i, j)" dock="right" class="AddButton"></Button>
                                    </DockLayout>
                                </DockLayout>


                            </StackLayout>
                        </ng-template>
                    </ListView>
                </StackLayout>

            </ng-template>
        </ListView>

        <Label [text]="'- No products -'" visibility="{{ isProductsListByCategoryEmpty() ? 'visible' : 'collapsed' }}" class="h3 p-l-15 p-r-15 p-t-15" style="text-align: center"></Label>
    </StackLayout>
</StackLayout>