<ActionBar title="Grocery List - Details" class="action-bar">
    <NavigationButton  
        (tap)="openDrawer()"
        ios.systemIcon="23"
        ios.position="left"
        android.systemIcon="ic_menu_more"
    ></NavigationButton>
    <ActionItem
        (tap)="switchEditMode()"
        ios.systemIcon="2"
        android.systemIcon="ic_menu_edit"
        ios.position="right"
        visibility="{{ isEditing || isGroceryListEmpty() ? 'collapse' : 'visible' }}"
    ></ActionItem>
</ActionBar>



<RadSideDrawer width="100%" height="100%" tkExampleTitle tkToggleNavButton>

   <!-- DRAWER CONTENT -->
   <StackLayout tkDrawerContent class="Drawer__SideStackLayout">
        <StackLayout style="height: 92%">
            <Label text="MyLists" (tap)="navigateTo('/home/myGroceryLists')" android:class="label-item" class="Drawer__LabelItem"></Label>
            <Label text="Products" (tap)="navigateTo('/home/productList/list', 'readOnly')" android:class="label-item" class="Drawer__LabelItem"></Label>
            <Label text="Barcode Scanner" (tap)="navigateTo('/home/productList/barcode-scanner')" android:class="label-item" class="Drawer__LabelItem"></Label>
            <Label text="Sellers" (tap)="navigateTo('')" android:class="label-item" class="Drawer__LabelItem"></Label>
        </StackLayout>

        <!-- DRAWER - CLOSE BUTTON -->
        <Label text="Close Drawer" (tap)="closeDrawer()" class="Drawer__CloseButton"></Label>
    </StackLayout>
    <!-- END DRAWER CONTENT -->


    <!-- MAIN CONTENT -->
    <StackLayout tkMainContent>
        <!-- MAIN CONTENT - OPEN DRAWER BUTTON -->
        <Button [text]="getCurrentListName()" (tap)="showMyListsDialog()" class="Drawer__OpenButton"></Button>

        <!-- MAIN CONTENT - GROCERY LIST -->
        <StackLayout>

            <ListView row="1" [items]="groceryList" class="list-group">
                <ng-template let-grocery="item" let-i="index">
                    <FlexboxLayout class="list-group-item" (tap)="isEditing = false">

                        <TextField text="X" (tap)="deleteGroceryListItem(i)" [editable]="false" class="DeleteButton" visibility="{{ isEditing ? 'visible' : 'collapsed' }}"></TextField>

                        <StackLayout style="width:70%; padding-left:4">
                            <Label [text]="grocery.productName" class="Label__Name"></Label>
                            <Label [text]="grocery.brand" class="Label__Name"></Label>
                        </StackLayout>

                        <TextField
                            required
                            maxLength="3"
                            keyboardType="number"
                            returnKeyType="go"
                            (returnPress)="updateGroceryList(i)"
                            [(ngModel)]="grocery.quantity"
                            [editable]="isEditing"
                            [ngClass]="{ 'Label__Quantity--isEditable': isEditing, 'Label__Quantity': !isEditing }">
                        </TextField>

                        <!-- TODO: remove fake price -->
                        <TextField [text]="(grocery.quantity * 1.25) + '€'" [editable]="false" class="Label__Quantity">></TextField>

                    </FlexboxLayout>
                </ng-template>
            </ListView>

            <Label row="2" [text]="'- No items -'" style="text-align: center" class="h3 p-l-15 p-r-15 p-t-15 Label__NoItems" visibility="{{ isGroceryListEmpty() ? 'visible' : 'collapsed' }}"></Label>

            <Button row="3" text="Add" class="AddButton" (tap)="navigateTo('/home/productList/list', 'add')"></Button>

        </StackLayout>

    </StackLayout>
    <!-- END MAIN CONTENT -->

</RadSideDrawer>