.ProductList__Layout {
    width: 100%;
    height: 100%;
    z-index: 100
}

Button.FilterByButton {
    padding: 18;
    background-color: lightskyblue;
    color: white;
    font-family: FontAwesome;
    font-size: 18;
    text-align: center
}

Button.ShowPricesButton {
    width: 40;
    height: 40;
    border-radius: 40;
    background-color: lightgreen
}

Label.Label__Category {
    padding: 8;
    background-color: #CCCCCC;
    text-align: center;
    text-transform: uppercase
}

ListView > li {
    padding: 0
}