.Button__FilterBy {
    padding: 18;
    background-color: lightskyblue;
    color: white;
    font-family: FontAwesome;
    font-size: 18;
    text-align: center;
}

Label.Label__Category {
    padding: 8;
    background-color: #CCCCCC;
    text-align: center;
    text-transform: uppercase;
}

ListView > li {
    padding: 0;
}