<AbsoluteLayout width="100%" height="100%">
    <RadSideDrawer width="100%" height="100%" tkExampleTitle tkToggleNavButton>

        <!-- DRAWER CONTENT -->
        <StackLayout tkDrawerContent class="Drawer__SideStackLayout">
            <!-- DRAWER - TITLE -->
            <StackLayout class="Drawer__TitleWrapper">
                <Label text="Choose a list" class="Drawer__Title"></Label>
            </StackLayout>

            <!-- DRAWER - ITEMS -->
            <StackLayout width="100%" height="85%" class="Drawer__SideStackLayout">
                <ListView [items]="getMyListsNames()" class="list-group">
                    <ng-template let-list="item">
                        <FlexboxLayout class="list-group-item">
                            <Label [text]="list" android:class="label-item" class="Drawer__LabelItem" (tap)="onListItemTap(list)"></Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>

            <!-- DRAWER - CLOSE BUTTON -->
            <Label text="Close Drawer" class="Drawer__CloseButton" (tap)="closeDrawer()"></Label>
        </StackLayout>
        <!-- END DRAWER CONTENT -->


        <!-- MAIN CONTENT -->
        <StackLayout tkMainContent>
            <!-- DRAWER - OPEN BUTTON -->
            <Button [text]="getCurrentListName()" (tap)="openDrawer()" class="Drawer__OpenButton"></Button>

            <!-- GROCERY LIST -->
            <StackLayout height="100%" visibility="{{ showAddItemLayout ? 'collapsed' : 'visible' }}">

                <ListView row="2" [items]="groceryList" class="list-group" (itemTap)="onItemTap($event)" visibility="{{ isGroceryListEmpty() ? 'collapsed' : 'visible' }}">
                    <ng-template let-grocery="item" let-i="index" let-third="third" let-header="header" let-footer="footer">
                        <FlexboxLayout [class.third]="third" [class.header]="header" [class.footer]="footer" class="list-group-item">
                            <Label [text]="grocery.productName + ' (' + grocery.brand + ')'" android:class="label-item" class="Label__Name"></Label>
                            <Label [text]="grocery.quantity" android:class="label-item" class="Label__Quantity"></Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>

                <Label row="2" [text]="'- No items -'" style="text-align: center" class="h3 p-l-15 p-r-15 p-t-15" visibility="{{ isGroceryListEmpty() ? 'visible' : 'collapsed' }}"></Label>

                <Button row="3" text="Add" class="AddButton" (tap)="openAddItemForm()"></Button>

            </StackLayout>

            <!-- FORM -->
            <AbsoluteLayout row="4" width="50%" height="50%" style="background-color: aliceblue" visibility="{{ showAddItemLayout ? 'visible' : 'collapsed' }}">
                <!-- <ScrollView>
                        <StackLayout class="form">
                            <TextField class="m-15 input input-border" hint="Enter your name" text="{{ name }}"></TextField>
                        </StackLayout>
                    </ScrollView> -->
                <Label top="0" style="text-align: center" width="100%" text="Add"></Label>
                <Label top="60" style="text-align: center" width="100%" text="Add"></Label>
                <Label top="120" style="text-align: center" width="100%" text="Add"></Label>
                <Button top="180" style="text-align: center" width="100%" text="Back" class="BackButton" (tap)="showAddItemLayout = false"></Button>
                <Button top="240" style="text-align: center" width="100%" text="Ok" class="OkButton" (tap)="addItem()"></Button>
            </AbsoluteLayout>

        </StackLayout>
        <!-- END MAIN CONTENT -->

    </RadSideDrawer>
</AbsoluteLayout>